$form-field-width: 3.5rem;
$form-field-mr: 0.5rem;
$form-field-pt: 1rem;

.container {
  width: calc(($form-field-width + $form-field-mr + 0.2rem) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: $form-field-width;
  padding-top: $form-field-pt;
}

.form-field:not(:last-child) {
  margin-right: $form-field-mr;
}

.equals {
  margin-right: $form-field-mr;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
